@import './styles/colors';
@import './styles/rwd';

html {
    font-size: 62.5%;

    @include media('<=phone') {
        font-size: 55%;
    }
}

body {
    margin: 0;
    font-family: 'Poppins', -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6rem;
    box-sizing: border-box;
    color: $dark;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    box-sizing: inherit;
    -webkit-overflow-scrolling: touch;
}
